body {
    min-width: 860px;
}

textarea {
    border: solid 1px black;
}

h1 {
    width: fit-content;
    margin: auto;
}

.card-title {
    margin-top: 12px;
    margin-bottom: 12px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#headers_table, #headers_table tr th, #headers_table tr td {
    border: solid 1px black;
    border-collapse: collapse;
}

#headers_table tr th, #headers_table tr td {
    padding: 8px 24px;
}

.card-table {
    text-align: left;
    margin-bottom: 20px;
}

.card-table tr td {
    padding: 0 8px;
}

.vocabulary-div {
    width: 400px;
    margin: auto;
}

#content {
    z-index: 1;
    padding-top: 60px;
}

#table {
    margin-top: 16px;
    height: calc(100vh - 186px);
    overflow: auto;
}

.card {
    position: absolute;
    top: calc(50vh - 320px);
    left: calc(50vw - 225px);
    background-color: aliceblue;
    width: 400px;
    height: 400px;
    border: solid 1px black;
    border-radius: 16px;
    padding: 16px 24px 24px 24px;
    z-index: 99;
}

.vocabulary {
    margin-top: 16px;
    width: 394px;
    height: 120px;
}

.alter-card {
    width: 455px;
    left: calc(50vw - 252px);
    height: 180px;
}

#disable-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    z-index: 50;
}

.input-label {
    margin: 16px 0;
}

.input-box {
    width: 200px;
    height: 2em;
    margin: 8px 0 0 0;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px black;
}

.button {
    width: calc(50% - 16px);
    height: 40px;
    background: white;
    border: solid 1px black;
}

.button:hover {
    background-color: gainsboro;
}

.borderless-btn {
    background: none;
    border: none;
}

.borderless-btn:hover {
    color: grey;
    cursor: pointer;
}

@keyframes blur
{
    0%      {
        -webkit-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }
    100%    {
        -webkit-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }
}

@-webkit-keyframes blur /* Safari and Chrome */
{
    0%      {
        -webkit-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }
    100%    {
        -webkit-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }
}

@keyframes remove-blur
{
    0%      {
        -webkit-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }
    100%    {
        -webkit-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }
}

@-webkit-keyframes remove-blur /* Safari and Chrome */
{
    0%      {
        -webkit-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }
    100%    {
        -webkit-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }
}

.blur {
    animation: blur 0.7s;
    animation-fill-mode: forwards;
}

.remove-blur {
    animation: remove-blur 0.7s;
    animation-fill-mode: forwards;
}