body {
    min-width: 860px;
}

h1 {
    width: 565px;
    margin: auto;
}

td {
    width:80px;
}

.back_button {
    position: absolute;
    top: 78px;
    left: 24px;
}

button:hover {
    cursor: pointer;
}

.small_btn {
    margin-top: 8px;
}

#main_menu {
    margin-bottom: 16px;
}

#content {
    padding-top: 60px;
    width: 600px;
    margin: auto;
}

#number_label {
    width: fit-content;
    margin: auto;
    font-size: 1.3em;

}

#operations {
    margin-top: 196px;
    margin-right: 150px;
    padding-top: 8px;
    width: 100px;
    position: relative;
    left: 125px;
    top: -208px;
}

#criteria {
    padding: 16px;
}
