/*
 * This file will contain all css for this system.
 * Colours: #7C2529 is Rust
 * 		#789D4A is Green
 * 		#F1B434 is Gold
 *		#F3E7D3 is Warm-White
 *		first 3 colours are UPEI-specific, taken from UPEI's style guide. 
 *
 *  Last edit 2019/19/03 by Connor Mayhew
 */
 
@font-face {
    font-family: simplifica;
    src: url("fonts/simplifica_typeface-webfont.ttf");
}

h1.title{
	color: #7C2529;
	text-align: center;
	font-size: 5em;
	font-family: simplifica, arial, sans-serif;
}

img{
	max-width: 100%;
	max-height: 100%;
}

div.title{
	width:100%;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}

div.menu_bar{
	width: 100%;
	height: 20px;
	float: left;
	overflow-y: visible;
}

button.hide {
	display: none;
}

button.unavailable {
	opacity: 0.6;
	cursor: not-allowed;
}

.main_logo{
	padding: 35px;
	max-width: 50%;
}
 
.dropdown_items {
  display: none;
}

.show {
	display: block;
	}

.fl-lt {
  float: left;
}

.fl-rt {
  float: right;
}

.invisible {
  display: none;
}

.hide{
	visibility: hidden;
}

button.back_button {
	border: none;
	background-color: F3E7D3;
	background-image: url("images/backbuttonbg.png");
	background-size:cover;
	height: 3em;
	width: 3em;
	padding: 0.5em;
}

button.back_button:hover {
	background-image: url("images/backbuttoninvertedbg.png");
}

button.close_button {
	border: none;
	background-color: F3E7D3;
	background-image: url("images/xbuttonbg.png");
	background-size:cover;
	height: 1.5em;
	width: 1.5em;
	padding: 0.2em;
}

button.close_button:hover {
	background-image: url("images/xbuttoninvertedbg.png");
}

button.small_button {
	background-color: #789D4A;
	border: none;
	text-align: center;
	color: #FFFFFF;
	height: 1.5em;
	width: fit-content;
	min-width: 12.5em;
}

button.small_button:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #789D4A;
}

button.small_button.admin{
	background-color: #F1B434;
	display: block
}

button.small_button.admin:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #F1B434;
}

button.small_button.menu_bar {
	display: inline-block;
	border: 1px solid black;
	border-right: none;
}

button.small_button.menu_bar:last-child {
	border-right: 1px solid black;
}

button.small_button.menu_bar.admin {
	display: block;
	border: 1px solid black;
	border-top: none;
}

button.small_button.menu_bar.admin:first-child {
	border-top: 1px solid black;
	border-left: none;
}

button.medium_button {
	background-color: #789D4A;
	border: none;
	text-align: center;
	color: #FFFFFF;
	width: fit-content;
	min-width: 15em;
	height: 3em;
	padding: 3px;
}

button.medium_button:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: medium;
	border-color: #789D4A;
}

button.large_button {
	border:none;
	cursor: pointer;
	display: block;
	background-color: #789D4A;
	text-align: center;
	color: #FFFFFF;
	width: 25em;
	height: 5em;
}

button.large_button:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: medium;
	border-color: #789D4A;
}

button.large_button.admin {
	background-color: #F1B434;
}

button.large_button.admin:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: medium;
	border-color: #F1B434;
}

.preview_scroll_box {
	background: #FFFFFF;
    border-style: solid;
	border-width: medium;
	border-color: #789D4A;
    height: 300px;
    width: 900px;
    overflow-y: scroll;
}

.menu_bar_form {
	display: inline;
}

.column_30 {
	width: 30%;
	float: left;
	min-width: 200px;
}

.column_half {
	width: 50%;
	float: left;
}

.column_70 {
	width: 70%;
	float: left;
	min-width: 500px;
}
.column_side {
	float: left;
	width: 15%;
	min-height: 200px;
}

.column_main {
	float: left;
	width: 70%;
	min-height: 200px;
	min-width: 700px;
}

.row{
	max-height: 500px;
	min-height: 200px;
}

br.small{
	line-height:50%;
}
body {
	background-color: #F3E7D3;}

p {
	font-size: 1.25em;
	font-family: serif;
}

