/*
 * This file will contain all css for this system.
 */
.dropdown_items {
  display: none;
}

.show {display: block;}

.fl-lt {
  float: left;
}

.fl-rt {
  float: right;
}

.invisible {
  display: none;
}