/*
 * This file will contain all css for this system.
 * Colours: #7C2529 is Rust
 * 		#789D4A is Green
 * 		#F1B434 is Gold
 *		#F3E7D3 is Warm-White
 *		first 3 colours are UPEI-specific, taken from UPEI's style guide. 
 *
 *  Last edit 2019/19/03 by Connor Mayhew
 */
      body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.leftpane {
    width: 25%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.middlepane {
    width: 50%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.rightpane {
  width: 25%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}

.toppane {
  width: 100%;
  height: 25px;
}
@font-face {
    font-family: simplifica;
    src: url("fonts/simplifica_typeface-webfont.ttf");
}

h1.title{
	color: #7C2529;
	text-align: center;
	font-size: 5em;
	font-family: simplifica, arial, sans-serif;
	padding: 0px;
	margin: 10px;
}

img{
	max-width: 100%;
	max-height: 100%;
}

div.title{
	width:100%;
	height: 100px;
	float: left;
	position: relative;
}

div.menu_bar{
	width: 100%;
	height: 20px;
	float: left;
	overflow-y: visible;
	position: relative;
	z-index: 99999;
}

div.column_30 {
	width: 30%;
	float: left;
	min-width: 200px;
	position: relativd;
}

div.column_half {
	width: 50%;
	float: left;
	position: relative;
}

div.column_70 {
	width: 70%;
	float: left;
	min-width: 500px;
	position: relative;
}

div.column_side {
	float: left;
	width: 15%;
	min-height: 200px;
	position: relative;
}

div.column_main {
	float: left;
	width: 70%;
	min-height: 200px;
	min-width: 700px;
	position: relative;
}
 
button.hide {
	display: none;
}

button.unavailable {
	opacity: 0.6;
	cursor: not-allowed;
	title: 
}

.main_logo{
	padding: 35px;
	max-width: 50%;
}
 
.dropdown_items {
  display: none;
}

.show {
	display: block;
	}

.fl-lt {
  float: left;
}

.fl-rt {
  float: right;
}

.invisible {
  display: none;
}

.hide{
	visibility: hidden;
}

.back_button {
	border: none;
	background-color: F3E7D3;
	background-image: url("images/backbuttonbg.png");
	background-size: cover;
	height: 3em;
	width: 3em;
	margin-right: 2em;
	float: right;
}

.back_button:hover {
	background-image: url("images/backbuttoninvertedbg.png");
}

.close_button {
	border: none;
	background-color: F3E7D3;
	background-image: url("images/xbuttonbg.png");
	background-size:cover;
	height: 1.5em;
	width: 1.5em;
	padding: 0.2em;
}

.close_button:hover {
	background-image: url("images/xbuttoninvertedbg.png");
}

.small_button {
	background-color: #789D4A;
	border: none;
	text-align: center;
	color: #FFFFFF;
	height: 1.5em;
	width: fit-content;
	min-width: 12.5em;
}

.small_button:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #789D4A;
}

.small_button.admin{
	background-color: #F1B434;
	display: block
}

.small_button.admin:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #F1B434;
}

.small_button.menu_bar {
	display: inline-block;
	border: 1px solid black;
	border-right: none;
}

.small_button.menu_bar:last-child {
	border-right: 1px solid black;
}

.small_button.menu_bar.admin {
	display: block;
	border: 1px solid black;
	border-top: none;
}

.small_button.menu_bar.admin:first-child {
	border-top: 1px solid black;
	border-left: none;
}

.medium_button {
	background-color: #789D4A;
	border: none;
	text-align: center;
	color: #FFFFFF;
	width: fit-content;
	min-width: 15em;
	height: 3em;
	padding: 3px;
}

.medium_button:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: medium;
	border-color: #789D4A;
}

.large_button {
	border:none;
	cursor: pointer;
	display: block;
	background-color: #789D4A;
	text-align: center;
	color: #FFFFFF;
	width: 25em;
	height: 5em;
}

.large_button:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: medium;
	border-color: #789D4A;
}

.large_button.admin {
	background-color: #F1B434;
}

.large_button.admin:hover {
	Background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: medium;
	border-color: #F1B434;
}

.preview_scroll_box {
	background: #FFFFFF;
    border-style: solid;
	border-width: medium;
	border-color: #789D4A;
    height: 300px;
    width: 900px;
    overflow-y: scroll;
}

.menu_bar_form {
	display: inline;
}


.row{
	max-height: 500px;
	min-height: 200px;
}

br.small{
	line-height:50%;
}
body {
	background-color: #F3E7D3;}

p {
	font-size: 1.25em;
	font-family: serif;
}

p.err_msg {
	padding:0px;
	margin: 0px;
}

/**
 * Tooltip stuff is taken from https://www.w3schools.com/css/css_tooltip.asp and only slightly modified.
 */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #7C2529;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.logout {
	background-color: #7C2529;
	border: none;
	text-align: center;
	color: #FFFFFF;
	height: 1.5em;
	width: fit-content;
	min-width: 12.5em;
}

.logout:hover {
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #789D4A;
}
